"*":
  "exception-reporting":
    userId: "8e2431d8-a1eb-e2b0-b42b-6ad7e3f381ce"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    invisibles: {}
